.calendar{
    text-align: center;
    font-size: 120px;
    font-family: Arial;
    margin-top: 38vh;
}
body{
    background-color: brown;
}
p{
    color: burlywood;
}
nav{
    background-color: darkslategray;
}